@model ICollection<PruebaTenicaFeb2023.Models.Profesor>

<div class="container">
    <div class="row">
        <div class="col mb-3">
            @Html.ActionLink("Agregar", "Add", "Profesor",null, new { @class= "btn btn-primary float-end" })
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Genero</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var profesor in Model)
                    {
                        <tr>
                            <td>@profesor.Id</td>
                            <td>@profesor.Nombre</td>
                            <td>@profesor.Genero</td>
                            <td>@Html.ActionLink("Editar","Edit","Profesor",new { Id = profesor.Id }, new { @class = "" })</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>